include build_requires.py
include requirements.py

include get_compiler/CMakeLists.txt
include get_compiler/__init__.py

recursive-include src/amulet *.cpp *.hpp *Config.cmake

include CMakeLists.txt

prune tests
